In [140]:
import pandas as pd
from typing import Dict,List,Optional
import json
from collections import defaultdict as dd

In [141]:
df1 = pd.read_csv("territories.csv", sep = ',')

In [142]:
df1.dtypes

id                        int64
code                     object
name                     object
kind                     object
created_at               object
updated_at               object
is_current                 bool
population              float64
official_website_url     object
articles_count            int64
admin_docs_count          int64
impacters_count           int64
websites_count            int64
sources_count             int64
dtype: object

In [143]:
df1.dropna(subset=['name'], inplace = True)

In [144]:
df1.head(5)

,id,code,name,kind,created_at,updated_at,is_current,population,official_website_url,articles_count,admin_docs_count,impacters_count,websites_count,sources_count
0,4,240100883,CC de la Plaine de l'Ain,FREPCI,2019-12-10 12:38:53.752692,2020-06-23 13:14:56.170453,True,NaN,http://www.cc-plainedelain.fr,2,2,33,34,98
1,3,01,Ain,FRDEPA,2019-12-10 12:38:53.599256,2020-07-28 07:20:18.244356,True,NaN,NaN,23,34,343,3443,3443
2,41548,85279,Saligny,FRCOMM,2020-10-13 10:46:41.222944,2021-01-13 14:56:20.510037,True,NaN,NaN,0,0,0,0,0
3,36858,11022,Montreal,FRCANT,2020-10-13 10:45:51.622454,2021-01-13 14:54:14.065575,True,NaN,NaN,0,0,0,0,0
4,40550,66016,Sournia,FRCANT,2020-10-13 10:46:31.315826,2021-01-13 14:54:14.065575,True,NaN,NaN,0,0,0,0,0

print("length of data frame before ", len(df1))
df1.drop_duplicates(subset = ["name", "kind","created_at",], inplace = True)
"""
We have many duplicates like "{"id": 37944, "name": "Eure", "kind": "FRCANT", "code": "27001", "children": []}, 
{"id": 37946, "name": "Eure", "kind": "FRCANT", "code": "27003", "children": []}, 
{"id": 37947, "name": "Eure", "kind": "FRCANT", "code": "27004", "children": []}, 
{"id": 37948, "name": "Eure", "kind": "FRCANT", "code": "27005", "children": []}, 
{"id": 37949, "name": "Eure", "kind": "FRCANT", "code": "27006", "children": []},
{"id": 37950, "name": "Eure", "kind": "FRCANT", "code": "27007", "children": []}, 
{"id": 37951, "name": "Eure", "kind": "FRCANT", "code": "27008", "children": []}, 
{"id": 37952, "name": "Eure", "kind": "FRCANT", "code": "27009", "children": []}, 
{"id": 37953, "name": "Eure", "kind": "FRCANT", "code": "27010", "children": []}, 
{"id": 37954, "name": "Eure", "kind": "FRCANT", "code": "27011", "children": []}, 
{"id": 37955, "name": "Eure", "kind": "FRCANT", "code": "27012", "children": []}, 
{"id": 37956, "name": "Eure", "kind": "FRCANT", "code": "27013", "children": []}, 
{"id": 37957, "name": "Eure", "kind": "FRCANT", "code": "27014", "children": []}, 
{"id": 37958, "name": "Eure", "kind": "FRCANT", "code": "27015", "children": []}"
"""
print("length of data frame after ", len(df1))

In [145]:
df1.reset_index(inplace = True)

In [146]:
len(df1)

42283

In [121]:
df1.tail(5)

,id,code,name,kind,created_at,updated_at,is_current,population,official_website_url,articles_count,admin_docs_count,impacters_count,websites_count,sources_count
42282,42262,97408,La Reunion,FRCANT,2020-10-13 10:46:41.222944,2021-01-13 14:54:26.826017,True,NaN,NaN,0,0,0,0,0
42283,42265,97411,Saint-Benoit 1,FRCANT,2020-10-13 10:46:41.222944,2021-01-13 14:54:26.826017,True,NaN,NaN,0,0,0,0,0
42284,42266,97412,Saint-Denis 1,FRCANT,2020-10-13 10:46:41.222944,2021-01-13 14:54:26.826017,True,NaN,NaN,0,0,0,0,0
42285,42267,97413,Saint-Denis 2,FRCANT,2020-10-13 10:46:41.222944,2021-01-13 14:54:26.826017,True,NaN,NaN,0,0,0,0,0
42286,1,33,France,FRPAYS,2019-12-10 12:38:53.327702,2020-10-19 14:52:05.682615,True,NaN,NaN,54234532,1434322,0,19406,262

name_dict = dd(list)
for i in range(len(df1)):
    name_dict[df1['id'][i]].append(df1['name'][i])

terra_dict = dict()
for i in range(len(df1)):
    id_terra = df1['kind'][i]+df1['code'][i]
    terra_dict[id_terra] = (df1['name'][i], df1['kind'][i])
#print(terra_dict)

In [147]:
id_dict = dict()
duplicates = set()
for i in range(len(df1)):
    if (df1['name'][i], df1['kind'][i], df1['created_at'][i], df1['updated_at'][i]) in duplicates:#Ig
        continue
    id_dict[df1['id'][i]] = (df1['name'][i], df1['kind'][i], df1['code'][i])
    duplicates.add((df1['name'][i], df1['kind'][i], df1['created_at'][i], df1['updated_at'][i]))

In [148]:
id_dict[1435]

('Moulins', 'FRCOMM', '03190')

In [132]:
len(df1)

42283

In [151]:
len(id_dict)

40446

In [152]:
regis, departs, epcis, communes, cantons = {},{},{},{},{}
for i in range(len(df1)):
    if type(df1['name'][i])!=str:
        continue
    if df1['kind'][i]=='FRREGI':
        regis[df1['id'][i]] = (df1['name'][i], df1['kind'][i])
    elif df1['kind'][i]=='FRDEPA':
        departs[df1['id'][i]] = (df1['name'][i], df1['kind'][i])
    elif df1['kind'][i]=='FREPCI':
        epcis[df1['id'][i]] = (df1['name'][i], df1['kind'][i])
    elif df1['kind'][i]=='FRCOMM':
        communes[df1['id'][i]] = (df1['name'][i], df1['kind'][i])
    elif df1['kind'][i]=='FRCANT':
        cantons[df1['id'][i]] = (df1['name'][i], df1['kind'][i])

In [153]:
print(len(regis))
print(len(departs))
print(len(epcis))
print(len(communes))
print(len(cantons))

35
109
1272
36811
4055

In [154]:
df2 = pd.read_csv("territory_parents.csv", sep = ',')
df2.head(10)

,id,child_id,parent_id,created_at,updated_at
0,1,3,2,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
1,2,41,3,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
2,3,34206,34125,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
3,4,34231,34125,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
4,5,34238,34125,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
5,6,34253,34125,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
6,7,34338,34125,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
7,8,34371,34125,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
8,9,414,413,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724
9,10,581,453,2021-01-12 06:06:36.160724,2021-01-12 06:06:36.160724

In [155]:
parent_dict = {}
for i in range(len(df2)):
    parent_dict[df2['id'][i]] = df2['parent_id'][i]

In [156]:
id_dict[3]

('Ain', 'FRDEPA', '01')

In [16]:
#Objectif: construct a json file with the propreties 'name' and 'child'
#'name' is the name of the territory identifier and children is their sous departements

In [18]:
#id_dict[df1['id'][i]] = (df1['name'][i], df1['kind'][i], df1['code'][i])

In [157]:
departs[3]

('Ain', 'FRDEPA')

In [158]:
#We want to have a list of departements of france with their subdivisions
fr_departements = []
for k in departs.keys():
    temp = {
        'id' : int(k),
        'name' : id_dict[k][0],
        'kind' : id_dict[k][1],
        'code': id_dict[k][2],
        'children':[]
    }
    fr_departements.append(temp)

In [159]:
len(fr_departements)

109

In [160]:
#{'FRCANT', 'FRCOMM', 'FRDEPA', 'FREPCI', 'FRPAYS', 'FRREGI'}
#regis, departs, epcis, communes, cantons
#levels = ['FRPAYS', 'FRREGI':regis, 'FRDEPA':departs, ['FREPCI':epcis, 'FRCOMM':communes], 'FRCANT':cantons]
#key: df2.iloc[id-1]
def construct_dict(graph:Dict, child_parent_dict:Dict)->None:
    if graph['kind']=='FRDEPA':
        for k in epcis.keys():
            if k in id_dict and k in child_parent_dict and child_parent_dict[k]==graph['id']:
                name, kind, code = id_dict[k][0], id_dict[k][1], id_dict[k][2],
                graph['children'].append(
                    {'id' : int(k), 'name' : name, 'kind': kind, 'code': code, 'children':[]}
                )
        to_delete = set()
        for k in communes.keys():
            if k in id_dict and k in child_parent_dict and child_parent_dict[k]==graph['id']:
                name, kind, code = id_dict[k][0], id_dict[k][1], id_dict[k][2],
                graph['children'].append(
                    {'id' : int(k), 'name' : name, 'kind': kind, 'code': code, 'children':[]}
                )
                to_delete.add(k)
                
        for k in to_delete:#communes already belongs to this departement won't belong to another departement or EPCI
            del communes[k]
        
        to_delete = set()
        for k in cantons.keys():
            if k in id_dict and k in child_parent_dict and child_parent_dict[k]==graph['id']:
                name, kind, code = id_dict[k][0], id_dict[k][1], id_dict[k][2],
                graph['children'].append(
                    {'id' : int(k), 'name' : name, 'kind': kind, 'code': code, 'children':[]}
                )
        for k in to_delete:#communes already belongs to this departement won't belong to another departement or EPCI
            del cantons[k]
        for child in graph['children']:
            construct_dict(child, child_parent_dict)
    elif graph['kind']=='FREPCI':
        for k in communes.keys():
            if k in id_dict and k in child_parent_dict and child_parent_dict[k]==graph['id']:
                name, kind, code = id_dict[k][0], id_dict[k][1], id_dict[k][2],
                graph['children'].append(
                    {'id' : int(k), 'name' : name, 'kind': kind, 'code': code, 'children':[]}
                )

In [161]:
for ele in fr_departements:
    construct_dict(ele, parent_dict)

In [162]:
type(df1['id'][2])

numpy.int64

In [163]:
import numpy as np

class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        return super(NpEncoder, self).default(obj)

In [164]:
with open("data.json","w", encoding = 'utf-8') as file:
    json.dump(fr_departements, file, cls = NpEncoder)

### Link "elu.json" to the territoires

In [165]:
# Opening JSON file
f = open('elu.json',encoding = "utf-8")
  
# returns JSON object as 
# a dictionary
data = json.load(f)
  
# Iterating through the json
# list

In [166]:
len(data)

50

In [170]:
tid_dict = dict()
for i in range(len(df1)):
    if(type(df1['name'][i])!=str):
        continue
    tid_dict[df1['kind'][i]+df1['code'][i]] = ((df1['name'][i]), [])

In [171]:
for k,v in data[0].items():
    print(k," : ",v)

_type  :  physical_person
_id  :  225712
_source  :  {'physical_person_id': 225712, 'firstname': 'Hervé', 'lastname': 'Baube', 'fullname': 'Hervé Baube', 'departments_uids': ['FRDEPA02'], 'positions': [{'end_date': '2020-05-18', 'profession': 'Contremaitres', 'ranking_score': 1050, 'role_uid': 'membre conseil municipal', 'start_date': '2014-03-23', 'territory_uid': 'FRCOMM02468'}], 'has_current_position': False}
sort  :  [9223372036854775807]

In [173]:
len(tid_dict)

42283

In [174]:
tid_dict['FRCOMM03190']

('Moulins', [])

In [ ]:
#Prénom, Nom, Positions

In [176]:
for i in range(len(data)):
    if len(data[i]['_source']['positions'])<=0:
        continue
    for j in range(len(data[i]['_source']['positions'])):
        if data[i]['_source']['positions'][j]['territory_uid'] in tid_dict:
            tid_dict[data[i]['_source']['positions'][j]['territory_uid']][1].append(
                (data[i]['_source']['fullname'],data[i]['_source']['positions'][j]['end_date'] == None))
        else:
            print(data[i])

In [178]:
tid_dict['FRCOMM03190']

('Moulins', [('Hamza Budak', False), ('Hamza Budak', True)])

In [181]:
ans_json = {}
for k,v in tid_dict.items():
    if len(v[1])>0:
        ans_json[k] = v

In [182]:
len(ans_json)

64

In [185]:
with open("elu_terr.json","w", encoding = 'utf-8') as file:
    json.dump(ans_json, file, cls = NpEncoder)

In [183]:
len(data)

50

In [186]:
f.close()